*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    display: grid;
    grid-template-rows: 36px 0.4fr 0.2fr 0.2fr 0.2fr 0.1fr;
    grid-template-areas: "header"
                         "greeting"
                         "about_us"
                         "works"
                         "list"
                         "contact";
    min-height: 400vh;
    font-family: "Roboto Slab";
}

/* МЕНЮ */
.header{
    grid-area: header;
    background: rgba(228,156,210,0.2);
}

.menu__open{
    display: none;
    font-size: 20px;
    margin: 8px;
}

.menu{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.item__header{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
}

.content__header{
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.content__header:hover{
    border-bottom: 3px solid #D396AC;
    color: #D396AC;
}

.logo{
    font-family: "Open Sans";
    font-size: 25px;
    letter-spacing: 8px;
}
.logo:hover{
    border-bottom: none;
    text-shadow: 0px -2px 1px #fff;
    color: #BA0CB1;
}
/* ПРИВЕТСТВИЕ */
.greeting{
    grid-area: greeting;
    background: url(img/bg.jpg) no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0  0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greeting__title{
    color: #D396AC;
    font-size: 150px;
    letter-spacing: 50px;
    text-align: center;
    line-height: 90px;
}
.greeting__text{
    font-size: 100px;
    letter-spacing: normal;
}

.greeting::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,0.6);
    z-index: 1;
}
.greeting__wrap{
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
}
.bg__greet{
    background: rgba(0,0,0,0.8);
}

/* О НАС */
.about_us{
    grid-area: about_us;
    display: flex;
    justify-content: center;
    background: rgba(228,156,210,0.2);
    color: #000000;
}

.content__about{
    width: 90%;
    height: 90%;
}
.h2__about{
    font-size: 90px;
    margin: 25px;
    margin-bottom: 25px;
}

.about__text{
    font-size: 16px;
    width: 80%;
    align-self: flex-start;
    margin-bottom: 30px;
}

.features{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 310px;
    justify-items: center;
    align-items: flex-start;
}

.item__features{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.feature{
    background: rgba(207,207,207, 0.1);
    box-shadow: 0 0 20px #000;
    width: 200px;
    height: 200px;
    border: 3px solid rgba(192,99,121, 0.6);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fas{
    font-size: 70px;
    color: #D396AC;
}
.ft__text{
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin: 15px;
    padding: 3px;
    border: 1px solid #000;
}

/* РАБОТЫ */
.works{
    grid-area: works;
    background: #CFCFCF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__work{
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 90%;
    height: 90%;
    color: #000000;
    justify-items: center;
    align-items: center;
}
.h2__works{
    font-size: 90px;
    text-align: center;
}

.slider_show{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider li {
    list-style-type: none;
}
.btn__slider{
    background: #CFCFCF;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 70px;
    color: #000000;
}

.btn__slider:hover{
    color: #9B9B9B;
}

img{
    display: none;
    width: 100%;
    height: 100%;
    border: 2px solid #F7E1F1;
    border-radius: 8px;
}

.first{
    display: block;
}

/* ПРАЙС-ЛИСТ */
.list{
    grid-area: list;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(228,156,210,0.2);
}

.content__list{
    width: 90%;
    height: 90%;
    display: grid;
    grid-template: 0.1fr 1fr;
    justify-items: center;
    align-items: center;
}

.h2__list{
    font-size: 90px;
    text-align: center;
    align-self: flex-end;
}

.tab-wrapper {
  margin: 40px auto;
  width: 80%;
  max-width:800px;
}

.tab-menu li {
  position:relative;
  background-color: #CFCFCF;
  color:#000;
  display: inline-block;
  padding: 20px 40px;
  font-size: 25px;
  opacity: 0.8;
  cursor:pointer;
  z-index:0;
}

.tab-menu li:hover {
  color:#9B9B9B;
}

.tab-menu li.active {
  color:#9B9B9B;
  opacity: 1;
}

.tab-menu li.active:hover {
  color:#9B9B9B;
}

.tab-content>div {
  background-color: #F5E8F2;
  font-size: 20px;
  box-sizing:border-box;
  border: 1px solid #CFCFCF;
  width: 100%;
  padding: 30px;
  min-height:150px;
}

.line {
  position:absolute;
  width: 0;
  height: 7px;
  background-color: rgba(192,99,121, 0.6);
  top: 0;
  left: 0;
}


/* КОНТАКТЫ */
.contact{
    grid-area: contact;
    background: #CFCFCF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__cont{
    width: 70%;
    height: 90%;
    color: #000000;
    display: grid;
    grid-template-rows: 90px 0.5fr 120px 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "h2"
                         "p"
                         "inst"
                         "inst__text";
    justify-items: center;
    align-items: center;
}
.h2__cont{
    grid-area: h2;
    font-size: 90px;
    text-align: center;
    margin-bottom: 15px;
}
.cont__text{
    grid-area: p;
    font-size: 18px;
    text-align: center;
}
.circle_inst{
    grid-area: inst;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-image: url("img/instagram_gradient.png");
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}
.circle_text{
    font-size: 60px;
    font-family: FontAwesome;
}
.inst__text{
    grid-area: inst__text;
    color: #000000;
}
.inst__text:hover{
    color: #565656;
}

/*кнопка вверх*/
.btn-top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 99;
    border:none;
    outline: none;
    background-color: #CDB0C6;
    color: #000000;
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 10px;
    font-weight: bold;
    font-family: "Roboto Slab";
}
.btn-top:hover{
    background-color: #B79AB0;
}

/* MEDIA */

@media screen and (max-width: 1190px){
    .content__header{
        font-size: 16px;
    }
    .logo{
        font-size: 18px;
        letter-spacing: 3px;
    }
    .container{
        grid-template-rows: 26px 0.5fr 0.3fr 0.4fr 0.5fr 0.3fr;
    }
    .h2__about{
        font-size: 70px;
    }   
    .content__about{
        display: grid;
        grid-template-rows: 100px 0.3fr 1fr; 
        justify-items: center;
        align-items: center;
    }
    .about__text{
        align-self: center;
    }
    .features{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 280px;
    }
    .h2__works{
        font-size: 70px;
    }
    .h2__cont{
        font-size: 70px;
    }
    .slider_show{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 320px 60px;
    }
    .slider{
        grid-area: 1 / 1 / 2 / 3;
    }
    .btn__slider{
        font-size: 40px;
    }   
    .content__work{
        grid-template-columns: none;
        grid-template-rows: 1fr 2fr;
    }
    img{
        width: 320px;
        height: 320px;
    }
    .greeting__text{
        font-size: 40px;
        letter-spacing: normal;
    }
    .greeting__title{
        font-size: 50px;
        letter-spacing: 8px;
        line-height: 40px;
    }
    .feature{
        width: 150px;
        height: 150px;
    }
    .h2__list{
        font-size: 70px;
    }
    .tab-menu li{
        margin-bottom: 5px;
    }
}
@media screen and (max-width: 680px){
    .menu{
        display : grid;
        grid-template-columns: none;
        grid-template-rows: repeat(5, 1fr);
        padding: 10px;
    }
    .item__header{
        display: none;
        z-index: 5;
    }
    .content__header{
        font-size: 18px;
    }
    .logo{
        font-size: 23px;
        letter-spacing: 8px;
    }
    .menu__open{
        display: block;
    }
    .btn-top{
        bottom: 10px;
        right: 15px;
    }
    .container{
        grid-template-rows: 45px 0.2fr 0.8fr 0.3fr 0.4fr 0.27fr;
    }
    .h2__about{
        font-size: 60px;
    }   
    .h2__works{
        font-size: 60px;
    }
    .h2__list{
        font-size: 60px;
    }
    .h2__cont{
        font-size: 40px;
    }
    .greeting__text{
        font-size: 30px;
        letter-spacing: normal;
    }
    .greeting__title{
        font-size: 40px;
        letter-spacing: 6px;
        line-height: 30px;
    }
    .features{
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 280px;
    }
    img{
        width: 270px;
        height: 270px;
    }
    .slider_show{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 270px 60px;
    }
    .content__cont{
        grid-template-rows: 90px 0.2fr 120px 20px;
    }
}